{% extends 'base.html' %}

{% block content %}

<div id="warbler-hero" class="full-width">
  <img src="{{ user.header_image_url }}" alt="Header Image for {{ user.username }}" id="header-image">
</div>
<img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Messages</p>
            <h4>
              <a href="/users/{{ user.id }}">{{ user.messages | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Following</p>
            <h4>
              <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Followers</p>
            <h4>
              <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Likes</p>
            <h4>
              <a href="/users/{{ user.id }}/likes">{{ likes | length }}</a>
            </h4>
          </li>
          {% if g.user.id == user.id %}
          <li class="stat">
            <p class="small">Blocked</p>
            <h4>
              <a href="/users/{{ user.id }}/blocked-users">{{ user.blocked_users | length }}</a>
            </h4>
          </li>
          {% endif %}
          <div class="ml-auto follow-wrapper">
            {% if g.user.id == user.id %}
            <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
            <form method="POST" action="/users/delete" class="form-inline">
              <button class="btn btn-outline-danger ml-2">Delete Profile</button>
            </form>
            {% elif g.user %}
            
              {% if g.user.is_following(user) %}
              <a id="{{ user.id }}" class="follow-btn-lg btn btn-primary btn-sm stop-following text-white">Unfollow</a>
              {% else %}
              <a id="{{ user.id }}" class="follow-btn-lg btn btn-outline-primary start-following text-primary">Follow</a>
              {% endif %}
            
              &nbsp;

              {% if g.user.is_blocking(user) %}
              <a id="{{ user.id }}" class="block-btn btn btn-danger btn-sm stop-blocking text-white">Unblock</a>
              {% else %}
              <a id="{{ user.id }}" class="block-btn btn btn-outline-danger start-blocking text-danger">Block</a>
              {% endif %}

            {% endif %}

            
            
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">@{{ user.username }}</h4>
    <p>{{ user.bio }}</p>
    <p class="user-location"><span class="fa fa-map-marker"></span>{{ user.location }}</p>
  </div>

  {% block user_details %}
  {% endblock %}

</div>

{% endblock %}